<h1>New simcharacter</h1>

<% form_for(@simcharacter) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :cclass %><br />
    <%= f.text_field :cclass %>
  </p>
  <p>
    <%= f.label :race %><br />
    <%= f.text_field :race %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :level %><br />
    <%= f.text_field :level %>
  </p>
  <p>
    <%= f.label :exp %><br />
    <%= f.text_field :exp %>
  </p>
  <p>
    <%= f.label :ac %><br />
    <%= f.text_field :ac %>
  </p>
  <p>
    <%= f.label :hp %><br />
    <%= f.text_field :hp %>
  </p>
  <p>
    <%= f.label :sp %><br />
    <%= f.text_field :sp %>
  </p>
  <p>
    <%= f.label :constitution %><br />
    <%= f.text_field :constitution %>
  </p>
  <p>
    <%= f.label :size %><br />
    <%= f.text_field :size %>
  </p>
  <p>
    <%= f.label :dexterity %><br />
    <%= f.text_field :dexterity %>
  </p>
  <p>
    <%= f.label :strength %><br />
    <%= f.text_field :strength %>
  </p>
  <p>
    <%= f.label :intelligence %><br />
    <%= f.text_field :intelligence %>
  </p>
  <p>
    <%= f.label :wisdom %><br />
    <%= f.text_field :wisdom %>
  </p>
  <p>
    <%= f.label :charisma %><br />
    <%= f.text_field :charisma %>
  </p>
  <p>
    <%= f.label :moneybag %><br />
    <%= f.text_field :moneybag %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', simcharacters_path %>