<p>
  <b>Name:</b>
  <%=h @simcharacter.name %>
</p>

<p>
  <b>Cclass:</b>
  <%=h @simcharacter.cclass %>
</p>

<p>
  <b>Race:</b>
  <%=h @simcharacter.race %>
</p>

<p>
  <b>Description:</b>
  <%=h @simcharacter.description %>
</p>

<p>
  <b>Level:</b>
  <%=h @simcharacter.level %>
</p>

<p>
  <b>Exp:</b>
  <%=h @simcharacter.exp %>
</p>

<p>
  <b>Ac:</b>
  <%=h @simcharacter.ac %>
</p>

<p>
  <b>Hp:</b>
  <%=h @simcharacter.hp %>
</p>

<p>
  <b>Sp:</b>
  <%=h @simcharacter.sp %>
</p>

<p>
  <b>Constitution:</b>
  <%=h @simcharacter.constitution %>
</p>

<p>
  <b>Size:</b>
  <%=h @simcharacter.size %>
</p>

<p>
  <b>Dexterity:</b>
  <%=h @simcharacter.dexterity %>
</p>

<p>
  <b>Strength:</b>
  <%=h @simcharacter.strength %>
</p>

<p>
  <b>Intelligence:</b>
  <%=h @simcharacter.intelligence %>
</p>

<p>
  <b>Wisdom:</b>
  <%=h @simcharacter.wisdom %>
</p>

<p>
  <b>Charisma:</b>
  <%=h @simcharacter.charisma %>
</p>

<p>
  <b>Moneybag:</b>
  <%=h @simcharacter.moneybag %>
</p>


<%= link_to 'Edit', edit_simcharacter_path(@simcharacter) %> |
<%= link_to 'Back', simcharacters_path %>