<h1>Editing sim_variable</h1>

<% form_for([@user, @sim_variable]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :value %><br />
    <%= f.text_area :value %>
  </p>
  <p>
    <%= f.label :importscript %><br />
    <%= f.text_area :importscript %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', user_sim_variable_path(@user, @sim_variable) %> |
<%= link_to 'Back', user_sim_variables_path(@user) %>