<p>
  <b>Name:</b>
  <%=h @simplayer.name %>
</p>

<p>
  <b>Online:</b>
  <%=h @simplayer.online %>
</p>

<p>
  <b>Email:</b>
  <%=h @simplayer.email %>
</p>


<%= link_to 'Edit', edit_simplayer_path(@simplayer) %> |
<%= link_to 'Back', simplayers_path %>