<p>
  <b>Name:</b>
  <%=h @simthing.name %>
</p>

<p>
  <b>Description:</b>
  <pre>
  <%=h @simthing.description %>
  </pre>
</p>

<p>
  <b>Script:</b>
  <%=h @simthing.script %>
</p>

<p>
  <b>Creator:</b>
  <%=h @simthing.creatorname %>
</p>

<p>
  <b>Strength:</b>
  <%=h @simthing.strength %>
</p>

<p>
  <b>Weight:</b>
  <%=h @simthing.weight %>
</p>

<p>
  <b>Portable:</b>
  <%=h @simthing.portable %>
</p>
<p>
  <b>Visible:</b>
  <%=h @simthing.visible %>
</p>
<p>
  <b>Container:</b>
  <%=h @simthing.container %>
</p>
<p>
  <b>Platform:</b>
  <%=h @simthing.platform %>
</p>
<p>
  <b>Clothing:</b>
  <%=h @simthing.clothing %>
</p>


<%= link_to 'Edit', edit_simthing_path(@simthing) %> |
<%= link_to 'Back', simthings_path %>

