<h1>Listing sim_scripts</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Comment</th>
  </tr>

<% @sim_scripts.each do |sim_script| %>
  <tr>
    <td><%=h sim_script.name %></td>
    <td><%=h sim_script.comment %></td>
    <td><%= link_to 'Show', sim_script %></td>
    <td><%= link_to 'Edit', edit_sim_script_path(sim_script) %></td>
    <td><%= link_to 'Destroy', sim_script, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New sim_script', new_sim_script_path %>