<h1>Listing sim_modules</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% @sim_modules.each do |sim_module| %>
  <tr>
    <td><%=h sim_module.name %></td>
    <td><%= link_to 'Show', sim_module %></td>
    <td><%= link_to 'Edit', edit_sim_module_path(sim_module) %></td>
    <td><%= link_to 'Destroy', sim_module, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New sim_module', new_sim_module_path %>