<h1>Daimoku Web Server Login</h1>
<p>Daimoku Multi-Programmer Online is an environment written in Ruby and ActiveRecord and implemented using Why’s Freaky-Freaky Sandbox. Daimoku allows multiple Ruby programmers to chat, share code and objects in real-time in an EW-Two-style environment.

<h2>An RPG for Ruby Programmers</h2>

<p>Daimoku is an RPG for programmers, specifically Ruby programmers. The game interface uses IRB, to speak to another player, use a string literal, for example "hello world", which the game server will display to all Players within the same room. The game world uses a shared IRB, therefore all variables are immediately shared.

<h2>Chat</h2>

	Players in the same room can see each other’s Ruby code, as they are typing the code in, as well as being able to see the IRB evaluation. For privacy, simply move to another empty room.

<h2>Sharing Objects</h2>

<p>Any objects that are instantiated are automatically shared. Obviously, Players in the same room would be able to see the variable name that holds a reference to the object. This is a great way to teach/hack Ruby.

<h2>In World API</h2>

<p>The game world has an API, which is immediately invokable by the Players. The API allows a Player to run a socket server and socket client within the game world.

<hr>	

<p> <%= link_to 'Register for a web account', register_path %> 


<% form_for(@user_session) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.submit 'Submit' %>
  </p>
<% end %>


<fieldset>
	<legend>Players</legend>
	<table>
	  <tr>
	    <th>Name</th>
	    <th>Online</th>
	  </tr>

	<% @simplayers.each do |simplayer| %>
	  <tr>
	    <td><%=h simplayer.name %></td>
	    <td><%=h simplayer.online %></td>
	  </tr>
	<% end %>
	</table>
	</fieldset>
	
	
	<fieldset>
		<legend>Characters</legend>
		<table>
		  <tr>
		    <th>Name</th>
		    <th>Cclass</th>
		    <th>Race</th>
		    <th>Description</th>
		    <th>Level</th>
		    <th>Exp</th>
		    <th>Ac</th>
		    <th>Hp</th>
		    <th>Sp</th>
		    <th>Constitution</th>
		    <th>Size</th>
		    <th>Dexterity</th>
		    <th>Strength</th>
		    <th>Intelligence</th>
		    <th>Wisdom</th>
		    <th>Charisma</th>
		    <th>Moneybag</th>
		  </tr>

		<% @simcharacters.each do |simcharacter| %>
		  <tr>
		    <td><%=h simcharacter.name %></td>
		    <td><%=h simcharacter.cclass %></td>
		    <td><%=h simcharacter.race %></td>
		    <td><%=h simcharacter.description %></td>
		    <td><%=h simcharacter.level %></td>
		    <td><%=h simcharacter.exp %></td>
		    <td><%=h simcharacter.ac %></td>
		    <td><%=h simcharacter.hp %></td>
		    <td><%=h simcharacter.sp %></td>
		    <td><%=h simcharacter.constitution %></td>
		    <td><%=h simcharacter.size %></td>
		    <td><%=h simcharacter.dexterity %></td>
		    <td><%=h simcharacter.strength %></td>
		    <td><%=h simcharacter.intelligence %></td>
		    <td><%=h simcharacter.wisdom %></td>
		    <td><%=h simcharacter.charisma %></td>
		    <td><%=h simcharacter.moneybag %></td>
		  </tr>
		<% end %>
		</table>
		</fieldset>
		
		<fieldset>
			<legend>Things</legend>
			<table>
			  <tr>
			    <th>Name</th>
			    <th>Description</th>
			    <th>Script</th>
			    <th>Creator</th>
			    <th>Strength</th>
			    <th>Weight</th>
			    <th>Portable</th>
			    <th>Visible</th>
			    <th>Container</th>
			    <th>Platform</th>
			    <th>Clothing</th>
			  </tr>

			<% @simthings.each do |simthing| %>
			  <tr>
				<td><%=h simthing.name %></td>
				<td><%=h simthing.description %></td>
				<td><%=h simthing.script %></td>
				<td><%=h simthing.creatorname %></td>
				<td><%=h simthing.strength %></td>
				<td><%=h simthing.weight %></td>
				<td><%=h simthing.portable %></td>
				<td><%=h simthing.visible %></td>
				<td><%=h simthing.container %></td>
				<td><%=h simthing.platform %></td>
				<td><%=h simthing.clothing %></td>
			    <td><%= link_to 'Show', simthing %></td>
			    <td><%= link_to 'Edit', edit_simthing_path(simthing) %></td>
			    <td><%= link_to 'Destroy', simthing, :confirm => 'Are you sure?', :method => :delete %></td>
			  </tr>
			<% end %>
			</table>
			</fieldset>
	